p{
    margin-top: 100px;
    margin-left: 80px;
    display: block;
}

.div1{
    padding-left: 30px;
    padding-right: 25px;
    background-color: blue;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: none;
}